.home {

  @media @mobile {
    .padding-mobile();
}

  .cta { 
    .border();
    padding-bottom: @oneRem;
    
      .cta-text {
        h2 {
          padding-top: @oneRem + .5;
        }

        p {
          padding-right: @oneRem;
        }
      }

  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        padding-right: 0;
        .width-mobile();
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile {
        padding-right: 0;
        .width-mobile();
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @mobile {
        padding: 0;
        .width-mobile();
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @mobile {
      .width-mobile();
    }

    img {
      border-radius: 10px;
      @media @mobile {
        padding: 0;
        .width-mobile();
      }
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile {
      flex-wrap: wrap;
      justify-content: center;
      .width-mobile();
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile {
        .width-mobile(80%);
      }

      .btn {
        .sign-up_btn();
        @media @mobile {
          padding: @oneRem + .5;
  
        }
      }
    }
  }
}// home