// Navigation Styles here

nav {
    .flex-apart(space-around,center);
        padding: 2rem 8%;
        border-bottom: dashed @silver 2px;

        .navigation-links {
            .flex-apart(space-around, center);
            font-size: 1.5rem;
            padding-right: 3rem;

                li {
                    padding: 0 1.5rem;
                }
        }

}